openai
groq
google-generativeai
mistralai
python-dotenv
requests
fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-openai
langchain-groq
langchain-core
tiktoken
numpy
pandasstreamlit
streamlit-extras
